In [1]:
#imports here
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import io
from PIL import Image
import time
import numpy as np

In [2]:
#specify the path to chromedriver.exe (download and save on your computer)
PATH = "C:\\Users\\ml_te\\chromedriver.exe"

wd = webdriver.Chrome(PATH)

C:\Users\ml_te\AppData\Local\Temp\ipykernel_12344\3032348900.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  wd = webdriver.Chrome(PATH)

In [3]:
pages = np.arange(1,2,1)

In [4]:
chrome_options = webdriver.ChromeOptions()
prefs = {"profile.default_content_setting_values.notifications" : 2}
chrome_options.add_experimental_option("prefs",prefs)
wd = webdriver.Chrome(chrome_options=chrome_options)
wd.get("https://madchef.com.bd/contact#branches")

C:\Users\ml_te\AppData\Local\Temp\ipykernel_12344\3990912179.py:4: DeprecationWarning: use options instead of chrome_options
  wd = webdriver.Chrome(chrome_options=chrome_options)

In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
title=[]
addres=[]
for page in pages:
    wd.get("https://madchef.com.bd/contact#branches")
    soup = BeautifulSoup(wd.page_source, 'html.parser')
    data = soup.findAll('div', attrs = {'class': 'branch'})
    for store in data:
        time.sleep(5)
        titles=store.find('div',attrs={'class':'branch-name'}).text
        address=store.find('div',attrs={'class':'branch-address'}).text

    #titleloop=[title.text for title in titles]
        title.append(titles)
    #priceloop=[price.text for price in prices]
        addres.append(address)
    #ratingloop=[rating.text for rating in ratings]

In [6]:
data = pd.DataFrame({ "Branch_Name":title, "Addres" : addres})

In [7]:
data

,Branch_Name,Addres
0,\n \n ...,\n\n\n ...
1,\n \n ...,\n\n\n ...
2,\n \n ...,\n\n\n ...
3,\n \n ...,\n\n\n ...
4,\n \n ...,\n\n\n ...
5,\n \n ...,\n\n\n ...
6,\n \n ...,\n\n\n ...
7,\n\n \n ...,\n\n\n ...
8,\n\n \n ...,\n\n\n ...

In [8]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

In [10]:
data['Branch_Name']= data['Branch_Name'].apply(lambda x:remove_punctuation(x))
data.head()

,Branch_Name,Addres
0,\n \n ...,\n\n\n ...
1,\n \n ...,\n\n\n ...
2,\n \n ...,\n\n\n ...
3,\n \n ...,\n\n\n ...
4,\n \n ...,\n\n\n ...

In [11]:
data['Addres']= data['Addres'].apply(lambda x:remove_punctuation(x))
data.head()

,Branch_Name,Addres
0,\n \n ...,\n\n\n ...
1,\n \n ...,\n\n\n ...
2,\n \n ...,\n\n\n ...
3,\n \n ...,\n\n\n ...
4,\n \n ...,\n\n\n ...

In [12]:
import re
def remove_new_line(text):
    line = text.replace('\n','')
    return line

In [13]:
data['Branch_Name']= data['Branch_Name'].apply(lambda x:remove_new_line(x))
data.head()

,Branch_Name,Addres
0,...,\n\n\n ...
1,...,\n\n\n ...
2,...,\n\n\n ...
3,...,\n\n\n ...
4,...,\n\n\n ...

In [14]:
data['Addres']= data['Addres'].apply(lambda x:remove_new_line(x))
data.head()

,Branch_Name,Addres
0,...,...
1,...,...
2,...,...
3,...,...
4,...,...

In [53]:
chrome_options = webdriver.ChromeOptions()
prefs = {"profile.default_content_setting_values.notifications" : 2}
chrome_options.add_experimental_option("prefs",prefs)
wd = webdriver.Chrome(chrome_options=chrome_options)
wd.get("https://madchef.com.bd/menu")

C:\Users\ml_te\AppData\Local\Temp\ipykernel_12344\3347119735.py:4: DeprecationWarning: use options instead of chrome_options
  wd = webdriver.Chrome(chrome_options=chrome_options)

In [54]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
title=[]
price=[]
detail=[]
name=[]
bd=[]
made=[]
colour=[]
weight=[]
ram=[]
rom=[]
cpu=[]
about=[]
battery=[]
i=0
for page in pages:
    wd.get("https://madchef.com.bd/menu")
    soup = BeautifulSoup(wd.page_source, 'html.parser')
    data = soup.findAll('a', attrs = {'class':'menu-item'})
    for store in data:
        time.sleep(1)
        names=soup.find_all('div',attrs={'class':'menumodal-title'})[i]
        prices=soup.find_all('div',attrs={'class':'menumodal-price'})[i]
        abouts=soup.find_all('div',attrs={'class':'menumodal-description'})[i]
        nameloop=[price.text for price in names]
        priceloop=[detail.text for detail in prices]
        aboutloop=[detail.text for detail in abouts]
        name.append(nameloop)
        price.append(priceloop)
        about.append(aboutloop)
        i=i+1

In [57]:
name

[['\n                    Chicken Cheese Bombs\n                '],
 ['\n                    Spicy Cajun Fries\n                '],
 ['\n                    Fries - Salt & Pepper\n                '],
 ['\n                    Onion Rings\n                '],
 ['\n                    Spicy Garlic Mushrooms ðŸŒ¶\n                '],
 ['\n                    Paneer Sticks\n                '],
 ['\n                    Buffalo\n                '],
 ['\n                    Naga-Tastic ðŸŒ¶\n                '],
 ['\n                    Honey Garlic\n                '],
 ['\n                    Original\n                '],
 ['\n                    The BIG Rob\n                '],
 ['\n                    Mushroom Melt\n                '],
 ["\n                    Madchef's FAV\n                "],
 ['\n                    Signature Chicken\n                '],
 ['\n                    Signature Beef\n                '],
 ['\n                    The HAWK\n                '],
 ["\n                    Smokin' Chic ðŸŒ¶\n                "],
 ['\n                    The Cuban\n                '],
 ['\n                    Madame Lucy\n                '],
 ['\n                    Mighty Spicy Chic ðŸŒ¶\n                '],
 ['\n                    The Dhakaiyya\n                '],
 ['\n                    Gyro Chicken over Cajun Fries ðŸŒ¶\n                '],
 ['\n                    Crispy Chicken & Bacon\n                '],
 ['\n                    Shah Poutine\n                '],
 ['\n                    Roast Chicken\n                '],
 ['\n                    Gyro Chicken over Rice\n                '],
 ['\n                    Spicy Basil Chicken ðŸŒ¶\n                '],
 ['\n                    Creamy Mushroom Stuffed Chicken\n                '],
 ['\n                    Achari Fried Rice\n                '],
 ['\n                    Mango Habanero Grilled Chicken\n                '],
 ['\n                    Creamcheez Stuffed Chicken\n                '],
 ['\n                    Mad Monster\n                '],
 ['\n                    Chicken Steak Meal\n                '],
 ['\n                    Strawberry Caipirinha\n                '],
 ['\n                    Lime Refreshmint\n                '],
 ['\n                    Honey Limade\n                '],
 ['\n                    Lemon Iced Tea\n                '],
 ['\n                    Just Milo\n                '],
 ['\n                    Cake In My Shake\n                '],
 ['\n                    Nutella Madness\n                '],
 ['\n                    Peanut Butter\n                '],
 ["\n                    Cookies n' Cream\n                "],
 ['\n                    French Vanilla Latte\n                ']]

In [56]:
 about

[['\n                    Fried chicken balls stuffed with melted cheese.\n                '],
 ['\n                    French fries sprinkled with cajun spice.\n                '],
 ['\n                    Classic french fries.\n                '],
 ['\n                    Deep fried onion rings with breadcrumbs\n                '],
 ['\n                    Mushroom fried with garlic & mustard sauce.\n                '],
 ['\n                    Deshi cottage cheese sticks fried with breadcrumbs; served with deshi mint chutney.\n                '],
 ['\n                    Chicken wings/ Bangkok style fried chicken dipped in hot sweet & sour pepper sauce.\n                '],
 ['\n                    Chicken wings/ Bangkok style fried chicken dipped in spicy naga sauce.\n                '],
 ['\n                    Chicken wings/ Bangkok style fried chicken dipped in honey garlic sauce.\n                '],
 ['\n                    Original chicken wings/ Bangkok style fried chicken.\n                '],
 ['\n                    Beef cheese burger topped with fried chicken sausages\n                '],
 ['\n                    Beef cheese burger topped with mushroom & chicken gravy\n                '],
 ['\n                    A mix of our two best house sauces: garlic mayo & naga Blast; topped with crispy pepperoni bits.\n                '],
 ['\n                    Classic chicken cheeseburger with a choice of signature madhouse sauce.\n                '],
 ['\n                    Classic beef cheeseburger with a choice of signature madhouse sauce.\n                '],
 ['\n                    Double beef cheese burger topped with shredded crispy pepperoni & beef bacon.\n                '],
 ['\n                    Bbq chicken cheeseburger topped with smoked chicken layer & beef bacon.\n                '],
 ['\n                    Beef cheeseburger topped with smoked chicken & mustard sauce\n                '],
 ['\n                    Beef cheeseburger topped with chicken sausage gravy & beef bacon.\n                '],
 ['\n                    Double bbq chicken cheeseburger topped with signature naga blast sauce & beef bacon.\n                '],
 ['\n                    Beef cheeseburger topped with fried paneer layer & green chili mint sauce.\n                '],
 ['\n                    Cajun falvored potato fries topped with GYRO CHICKEN, Mint Yogurt & Spicy Sauce\n                '],
 ['\n                    Potato fries topped with brown gravy, Katsu Chicken, beef Bacon & melted cheddar cheese.\n                '],
 ['\n                    Potato fries topped with brown gravy, beef bacon, garlic mushroom, melted cheddar cheese and an egg\n                '],
 ['\n                    Potato fries topped with brown gravy, shredded roast chicken & melted cheddar cheese\n                '],
 ['\n                    Choice of rice served with gyro chicken topped with mint yogurt sauce.\n                '],
 ['\n                    Choice of rice served with spicy basil infused chicken.\n                '],
 ['\n                    Choice of rice served with whole chicken breast stuffed with mushroom & cheddar cheese\n                '],
 ['\n                    Pickle flavored fried rice served with katsu chicken\nFlavor Choice: Naga/ Garlic\n                '],
 ['\n                    A glorious platter starring juicy chicken legs marinated with mouth-watering spices, slathered in a homemade spicy mango-habanero sauce, and grilled to perfection, accompanied by two sides.\n\nSide Options: MAD Fried Rice, Everything Potato, Garlic Mushroom, and Fries.\n                '],
 ['\n                    Seasoned tender chicken pieces stuffed with creamy, gooey cream cheese & spinach filling that you can dip in the most buttery base of velvety textured mashed potato and mushroom gravy.\n                '],
 ['\n                    Choice of poutine, Half chicken steak & choice of Classic burger.\n                '],
 ['\n                    Chicken steak coated with a choice of sauce, garlic mushroom & french fries.\n                '],
 ['\n                    Fresh strawberry muddled with freshly squeezed lime juice, sugar syrup and crushed ice in soda water.\n                '],
 ['\n                    Made with mint, freshly squeezed lime juice, black salt and sugar syrup in soda water.\n                '],
 ['\n                    Wild honey muddled with mint leaves, freshly squeezed lime juice and sugar syrup in soda water.\n                '],
 ['\n                    A special blend of black tea muddled with freshly squeezed lime juice, sugar syrup and crushed ice.\n                '],
 ['\n                    Cocoa based malted drink served with added cream, sugar syrup and crushed ice.\n                '],
 ['\n                    Brownie piece dipped in hazelnut and cocoa flavored drink.\n                '],
 ['\n                    Iconic hazelnut spread mixed with milk, cream and sugar syrup.\n                '],
 ['\n                    Crunchy Peanut butter mixed with milk, cream, chocolate and sugar syrup.\n                '],
 ['\n                    Blended chocolate cookies in milk, cream and sugar syrup.\n                '],
 ['\n                    Classic chilled latte with a hint of Vanilla.\n                ']]

In [58]:
data2 = pd.DataFrame({ "Menu_Name":name, "Menu_Price" : price,"Menu_Description":about})

In [59]:
data2

,Menu_Name,Menu_Price,Menu_Description
0,[\n Chicken Cheese Bombs\n ...,"[\n, \n à§³ 299\n, \n]",[\n Fried chicken balls stu...
1,[\n Spicy Cajun Fries\n ...,"[\n, \n à§³ 159\n, \n]",[\n French fries sprinkled ...
2,[\n Fries - Salt & Pepper\n...,"[\n, \n à§³ 139\n, \n]",[\n Classic french fries.\n...
3,[\n Onion Rings\n ...,"[\n, \n à§³ 149\n, \n]",[\n Deep fried onion rings ...
4,[\n Spicy Garlic Mushrooms ...,"[\n, \n à§³ 269\n, \n]",[\n Mushroom fried with gar...
5,[\n Paneer Sticks\n ...,"[\n, \n à§³ 399\n, \n]",[\n Deshi cottage cheese st...
6,[\n Buffalo\n ],"[\n, \n à§³ 399\n, \n]",[\n Chicken wings/ Bangkok ...
7,[\n Naga-Tastic ðŸŒ¶\n ...,"[\n, \n à§³ 399\n, \n]",[\n Chicken wings/ Bangkok ...
8,[\n Honey Garlic\n ...,"[\n, \n à§³ 399\n, \n]",[\n Chicken wings/ Bangkok ...
9,[\n Original\n ...,"[\n, \n à§³ 399\n, \n]",[\n Original chicken wings/...
10,[\n The BIG Rob\n ...,"[\n, \n à§³ 379\n, \n]",[\n Beef cheese burger topp...
11,[\n Mushroom Melt\n ...,"[\n, \n à§³ 379\n, \n]",[\n Beef cheese burger topp...
12,[\n Madchef's FAV\n ...,"[\n, \n à§³ 379\n, \n]",[\n A mix of our two best h...
13,[\n Signature Chicken\n ...,"[\n, \n à§³ 269\n, \n]",[\n Classic chicken cheeseb...
14,[\n Signature Beef\n ...,"[\n, \n à§³ 299\n, \n]",[\n Classic beef cheeseburg...
15,[\n The HAWK\n ...,"[\n, \n à§³ 619\n, \n]",[\n Double beef cheese burg...
16,[\n Smokin' Chic ðŸŒ¶\n ...,"[\n, \n à§³ 419\n, \n]",[\n Bbq chicken cheeseburge...
17,[\n The Cuban\n ...,"[\n, \n à§³ 419\n, \n]",[\n Beef cheeseburger toppe...
18,[\n Madame Lucy\n ...,"[\n, \n à§³ 449\n, \n]",[\n Beef cheeseburger toppe...
19,[\n Mighty Spicy Chic ðŸŒ¶\n ...,"[\n, \n à§³ 449\n, \n]",[\n Double bbq chicken chee...
20,[\n The Dhakaiyya\n ...,"[\n, \n à§³ 447\n, \n]",[\n Beef cheeseburger toppe...
21,[\n Gyro Chicken over Cajun...,"[\n, \n à§³ 379\n, \n]",[\n Cajun falvored potato f...
22,[\n Crispy Chicken & Bacon\...,"[\n, \n à§³ 439\n, \n]",[\n Potato fries topped wit...
23,[\n Shah Poutine\n ...,"[\n, \n à§³ 379\n, \n]",[\n Potato fries topped wit...
24,[\n Roast Chicken\n ...,"[\n, \n à§³ 329\n, \n]",[\n Potato fries topped wit...
25,[\n Gyro Chicken over Rice\...,"[\n, \n à§³ 399\n, \n]",[\n Choice of rice served w...
26,[\n Spicy Basil Chicken ðŸŒ¶\n...,"[\n, \n à§³ 349\n, \n]",[\n Choice of rice served w...
27,[\n Creamy Mushroom Stuffed...,"[\n, \n à§³ 497\n, \n]",[\n Choice of rice served w...
28,[\n Achari Fried Rice\n ...,"[\n, \n à§³ 299\n, \n]",[\n Pickle flavored fried r...
29,[\n Mango Habanero Grilled ...,"[\n, \n à§³ 649\n, \n]",[\n A glorious platter star...
30,[\n Creamcheez Stuffed Chic...,"[\n, \n à§³ 699\n, \n]",[\n Seasoned tender chicken...
31,[\n Mad Monster\n ...,"[\n, \n à§³ 649\n, \n]","[\n Choice of poutine, Half..."
32,[\n Chicken Steak Meal\n ...,"[\n, \n à§³ 419\n, \n]",[\n Chicken steak coated wi...
33,[\n Strawberry Caipirinha\n...,"[\n, \n à§³ 279\n, \n]",[\n Fresh strawberry muddle...
34,[\n Lime Refreshmint\n ...,"[\n, \n à§³ 179\n, \n]","[\n Made with mint, freshly..."
35,[\n Honey Limade\n ...,"[\n, \n à§³ 219\n, \n]",[\n Wild honey muddled with...
36,[\n Lemon Iced Tea\n ...,"[\n, \n à§³ 179\n, \n]",[\n A special blend of blac...
37,[\n Just Milo\n ...,"[\n, \n à§³ 299\n, \n]",[\n Cocoa based malted drin...
38,[\n Cake In My Shake\n ...,"[\n, \n à§³ 399\n, \n]",[\n Brownie piece dipped in...
39,[\n Nutella Madness\n ...,"[\n, \n à§³ 349\n, \n]",[\n Iconic hazelnut spread ...
40,[\n Peanut Butter\n ...,"[\n, \n à§³ 349\n, \n]",[\n Crunchy Peanut butter m...
41,[\n Cookies n' Cream\n ...,"[\n, \n à§³ 299\n, \n]",[\n Blended chocolate cooki...
42,[\n French Vanilla Latte\n ...,"[\n, \n à§³ 299\n, \n]",[\n Classic chilled latte w...

In [61]:
data2['Menu_Name']= data2['Menu_Name'].apply(lambda x:remove_punctuation(x))
data2['Menu_Price']= data2['Menu_Price'].apply(lambda x:remove_punctuation(x))
data2['Menu_Description']= data2['Menu_Description'].apply(lambda x:remove_punctuation(x))
data2.head()

,Menu_Name,Menu_Price,Menu_Description
0,\n Chicken Cheese Bombs\n ...,\n\n à§³ 299\n\n,\n Fried chicken balls stuf...
1,\n Spicy Cajun Fries\n ...,\n\n à§³ 159\n\n,\n French fries sprinkled w...
2,\n Fries - Salt & Pepper\n ...,\n\n à§³ 139\n\n,\n Classic french fries.\n ...
3,\n Onion Rings\n ...,\n\n à§³ 149\n\n,\n Deep fried onion rings w...
4,\n Spicy Garlic Mushrooms ðŸŒ¶...,\n\n à§³ 269\n\n,\n Mushroom fried with garl...

In [62]:
data2['Menu_Name']= data2['Menu_Name'].apply(lambda x:remove_new_line(x))
data2['Menu_Price']= data2['Menu_Price'].apply(lambda x:remove_new_line(x))
data2['Menu_Description']= data2['Menu_Description'].apply(lambda x:remove_new_line(x))
data2.head()

,Menu_Name,Menu_Price,Menu_Description
0,Chicken Cheese Bombs ...,à§³ 299,Fried chicken balls stuffe...
1,Spicy Cajun Fries ...,à§³ 159,French fries sprinkled wit...
2,Fries - Salt & Pepper ...,à§³ 139,Classic french fries. ...
3,Onion Rings,à§³ 149,Deep fried onion rings wit...
4,Spicy Garlic Mushrooms ðŸŒ¶ ...,à§³ 269,Mushroom fried with garlic...

In [63]:
data2.to_csv("madchef.csv")